!!!
%html
  %head
    %title Esreverse
    %link{:rel => "stylesheet", :href => "css/style.css"}
  %body
    #wrapper
      #header
        %h1 esreverse*
        %h2 *The hottest new string reversal engine
      #content
        = yield