body {
  font-family: Tahoma, sans-serif;
  color: #200;
}

#wrapper {
  background-image: url('../images/01_reverse.jpg');
  background-repeat: no-repeat;
  height: 307px;
  width: 537px;
  padding: 5px;
  text-align: center;
}

#content {
  margin-top: 70px;
}

h1 {
  letter-spacing: 4px;
}

.message {
  background-color: rgba(220, 150, 50, 0.8);
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  color: #200;
  font-size: 1em;
  border: none; 
  padding: 5px;
  outline: 0px;
  width: 300px;
  text-align: center;
}